*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    position: relative;
    top: 0%;
    width: 100vw;
    font-family: "gilroy",sans-serif;
}
.navbar {
    position: absolute;
    top:70px;
    left: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.nav-links {
    list-style:none;
}

.nav-links li {
    display: inline;
    padding-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
}

.nav-links .active {
    color:  #6FBBD1;
    font-weight: 600;
}
.logo2 img{
    position: absolute;
    width: 100px;
    top: 50px;
    left: 50px;
}
.phone img{
    position: absolute;
    width: 150px;
    border: 1px;
    left: 100px;
    top: -20px;
}
.head1{
    position: absolute;
    width: 300px;
    top: 200px;
    left: 50px;
}
.para1{
    position: absolute;
    width: 70px;
    top: 280px;
    left: 50px;
}
.doctor2{
    position: absolute;
    width: 415px;
    top: 200px;
    left: 600px;
}
.story img{
    position: absolute;
    width: 900px;
    top: 500px;
    left: 50px;
    border-radius: 35px;
}
.img img{
    position: absolute;
    width: 1050px;
    top: 900px;
}
.twin img{
    position: absolute;
    width: 1000px;
    top: 1400px;
}
.certificate img{
    position: absolute;
    width: 1200px;
    height: 432px;
    top: 2076px;
    left: 80px;
    border: 1px;
}
.achieve img{
    position: absolute;
    width: 1200px;
    height: 580px;
    top: 2600px;
    left: 50px;
}
.footer2 img{
    position: absolute;
    width: 1400px;
    height: 1364px;
    top: 3333px;
}