*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    position: relative;
    top: 0%;
    width: 100%;
}
.navbar {
    position: absolute;
    width: 100%;
    height: 1117px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-top: -900px;
    margin-left: 270px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: grey;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0%;
}

.nav-links .active {
    color: #6FBBD1;
    font-weight: bold;
}
.logo{
    position: absolute;
    top: 70px;
    left: 50px;
    width: 100px;
    height: 70px;
}
.contact{
    position: absolute;
    width: 160px;
    height: 30px;
    top: 85px;
    left: 1208px;
    border: 1px;
}
.head1{
    position: absolute;
    width: 350px;
    height: 60px;
    top: 282px;
    left: 50px;
}
.para1{
    position: absolute;
    width: 100px;
    top: 370px;
    left: 50px;
}
.doctor2{
    position: absolute;
    width: 515px;
    height: 342px;
    top: 230px;
    left: 870px;
}
.story img{
    position: absolute;
    width: 1200px;
    height: 480px;
    top: 692px;
    left: 50px;
    border-radius: 35px;
}
.img img{
    position: absolute;
    width: 1400px;
    height: 594px;
    top: 1332px;
}
.certificate img{
    position: absolute;
    width: 1200px;
    height: 432px;
    top: 2076px;
    left: 80px;
    border: 1px;
}
.achieve img{
    position: absolute;
    width: 1200px;
    height: 580px;
    top: 2600px;
    left: 50px;
}
.footer2 img{
    position: absolute;
    width: 1400px;
    height: 1364px;
    top: 3333px;
}