*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    position: relative;
    top: 0%;
    width: 100%;
}
.navbar {
    position: absolute;
    width: 100%;
    height: 1117px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-top: -900px;
    margin-left: 270px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: grey;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0%;
}

.nav-links .active {
    color: #6FBBD1;
    font-weight: bold;
}
.logo{
    position: absolute;
    top: 70px;
    left: 50px;
    width: 100px;
    height: 70px;
}
.contact{
    position: absolute;
    width: 160px;
    height: 30px;
    top: 85px;
    left: 1208px;
    border: 1px;
}
.head4 {
    position: absolute;
    width: 360px;
    height: 60px;
    top: 282px;
    left: 50px;
}
.para4 {
    position: absolute;
    top: 370px;
    left: 50px;
    width: 100px;
}
.doctor3{
    position: absolute;
    top: 230px;
    left: 870px;
    width: 515px;
    height: 342px;
}
.banner img{
    position: absolute;
    width: 1400px;
    top: 540px;
    
}
/* footer css */
.footer5 img{
    position: absolute;
    width: 1400px;
    height: 636px;
    top: 1980px;
}