*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    position: relative;
    top: 0%;
    width: 100%;
}
.navbar {
    position: absolute;
    width: 100%;
    height: 1117px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-top: -900px;
    margin-left: 270px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: grey;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0%;
}

.nav-links .active {
    color: #6FBBD1;
    font-weight: bold;
}
.logo{
    position: absolute;
    top: 70px;
    left: 50px;
    width: 100px;
    height: 70px;
}
.contact{
    position: absolute;
    width: 160px;
    height: 30px;
    top: 85px;
    left: 1208px;
    border: 1px;
}
.head5 {
    position: absolute;
    width: 300px;
    height: 60px;
    top: 282px;
    left: 50px;
}
.para5{
    position: absolute;
    top: 370px;
    left: 50px;
    width: 100px;
}
.doctor4{
    position: absolute;
    top: 230px;
    left: 870px;
    width: 515px;
    height: 342px;
}
/* picture css */
.pic1{
    position: absolute;
    width: 250px;
    height: 231px;
    top: 692px;
    left: 50px;
    border-radius: 30px;
}
.pic2{
    position: absolute;
    width:  250px;
    height: 231px;
    top:  950px;
    left: 50px;
    border-radius: 30px;
}
.pic3{
    position: absolute;
    width:  250px;
    height: 130px;
    top: 692px;
    left:  340px;
    border-radius: 30px;
}
.pic4{
    position: absolute;
    width: 250px;
    height: 302px;
    top: 870px;
    left: 341px;
    border-radius: 30px;
}
.pic5{
    position: absolute;
    width: 574px;
    height: 488px;
    top: 692px;
    left: 674px;
    border-radius: 30px;
}
.pic6{
    position: absolute;
    width: 1200px;
    height: 488px;
    top: 1206px;
    left: 50px;
    border-radius: 30px;
}
/* footyer css */
.footer6 img{
    position: absolute;
    width: 1400px;
    height: 636px;
    top: 1944px;

}