*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    position: relative;
    top: 0%;
}
.navbar {
    position: absolute;
    width: 1728px;
    height: 1117px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 60px;
    margin-top: -900px;
    margin-left: 350px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: grey;
    font-size: 25px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
}

.nav-links .active {
    color: #6FBBD1;
    font-weight: bold;
}
.logo{
    position: absolute;
    top: 50px;
    left: 80px;
}
.contact{
    position: absolute;
    width: 239px;
    height: 60px;
    top: 85px;
    left: 1408px;
    border: 1px;
}
.head5 {
    position: absolute;
    top: 282px;
    left: 80px;
}
.para5{
    position: absolute;
    top: 400px;
    left: 80px;
}
.doctor4{
    position: absolute;
    top: 250px;
    left: 986px;
}
/* picture css */
.pic1{
    position: absolute;
    width: 373.18px;
    height: 281px;
    top: 792px;
    left: 80px;
    border-radius: 30px;
}
.pic2{
    position: absolute;
    width: 373.18px;
    height: 281px;
    top: 1098.85px;
    left: 80px;
    border-radius: 30px;
}
.pic3{
    position: absolute;
    width: 373.18px;
    height: 160.35px;
    top: 792px;
    left: 480.82px;
    border-radius: 30px;
}
.pic4{
    position: absolute;
    width: 373.18px;
    height: 402px;
    top: 977.72px;
    left: 481px;
    border-radius: 30px;
}
.pic5{
    position: absolute;
    width: 774px;
    height: 588px;
    top: 792px;
    left: 874px;
    border-radius: 30px;
}
.pic6{
    position: absolute;
    width: 1568px;
    height: 588.32px;
    top: 1406px;
    left: 80px;
    border-radius: 30px;
}
/* footyer css */
.footer6 img{
    position: absolute;
    width: 1728px;
    height: 686px;
    top: 2144px;

}