*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    position: relative;
    top: 0%;
}
.navbar{
    position: absolute;
    width: 1728px;
    height: 1117px;
}
.logo{
    position: absolute;
    top: 50px;
    left: 80px;
}
.bar{
    position: absolute;
    width: 951px;
    height: 31px;
    top: 99px;
    left: 389px;
}
.contact{
    position: absolute;
    width: 239px;
    height: 60px;
    top: 85px;
    left: 1408px;
    border: 1px;
}
.head{
    position: absolute;
    width: 853px;
    height: 212px;
    top: 282px;
    left: 80px;
}
.baloon{
    position: absolute;
    width: 108.81px;
    height: 208px;
    top: 284px;
    left: 879px;
}
.para{
    position: absolute;
    width: 709px;
    height: 46px;
    top: 514px;
    left: 80px;
}
.button{
    position: absolute;
    width: 469px;
    height: 70px;
    top: 600px;
    left: 80px;
    border-radius: 35px;
}
.doctor{
    position: absolute;
    width: 609.72px;
    height: 853px;
    top: 264px;
    left: 1092px;
}
.bg{
    position: absolute;
    width: 860px;
    height: 684px;
    top: 433px;
    left: 1039px;
}
.two{
    position: absolute;
    width: 247.92px;
    height: 200px;
    top: 817px;
    left: 97px;
}
.middle{
    position: absolute;
    width: 1568px;
    height: 200px;
    top: 1017px;
    left: 80px;
}
/* about appointments css */
.about img{
    position: absolute;
   
    top: 1417px;
    left: 80px;
}
/* special css */
.special img{
    position: absolute;
    width: 1822px;
    height: 1073px;
    top: 2458px;
}
/* process css */
.process{
    position: absolute;
    width: 1568px;
    height: 1400px;
    top: 3596px;
    left: 80px;
}
/* booking css */
.booking img{
    position: absolute;
    width: 1728px;
    height: 650px;
    top: 5146px;
}
/* testimonial css */
.test img{
    position: absolute;
    width: 1568px;
    height: 510px;
    top: 5946px;
    left: 80px;
}
/* footer css */
.footer{
    position: absolute;
    width: 1728px;
    height: 686px;
    top: 6606px;
}