*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    position: relative;
    top: 0%;
    width: 100%;
}
.navbar {
    position: absolute;
    top:70px;
    left: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.nav-links {
    list-style:none;
}

.nav-links li {
    display: inline;
    padding-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
}

.nav-links .active {
    color:  #6FBBD1;
    font-weight: 600;
}
.logo2 img{
    position: absolute;
    width: 100px;
    top: 50px;
    left: 50px;
}
.phone img{
    position: absolute;
    width: 150px;
    border: 1px;
    left: 100px;
    top: -20px;
}
.head51{
    position: absolute;
    width: 270px;
    top: 200px;
    left: 50px;
}
.para51{
    position: absolute;
    width: 80px;
    top: 280px;
    left: 50px;
}
.doctor51{
    position: absolute;
    width: 415px;
    top: 200px;
    left: 600px;
}
.heal h2{
    position: absolute;
    top: 500px;
    left: 50px;
    border-radius: 35px;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    font-weight: normal;
}
.heal p{
    position: absolute;
    top: 590px;
    left: 50px;
    border-radius: 35px;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0%;
    color: grey;
    font-weight: 500;
}
.spl-img img{
    position: absolute;
    width: 1020px;
    top: 700px;
}
.list h3{
    position: absolute;
    top: 1200px;
    left: 80px;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
}
.list ul  {
    position: absolute;
    top: 1250px;
    left: 100px;
    font-weight: 300px;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0%;
    justify-content: space-evenly;
    color: grey;
}
.custom-list li::marker{
    color: #6FBBD1;
}
.p1{
    position: absolute;
    top: 1150px;
    left: 400px;
    font-weight: 300;
    font-size: 15px;
    line-height: 35px;
    letter-spacing: 0%;
}
.p2{
    position: absolute;
    top: 1300px;
    left: 400px;
    font-weight: 300;
    font-size: 15px;
    line-height: 35px;
    letter-spacing: 0%;
}
.vaccency img{
    position: absolute;
    top: 1500px;
}
.faq img{
    position: absolute;
    top: 1700px;
    left: 30px;
}
.footer7 img{
    position: absolute;
    width: 1030px;
    top: 2400px;
}

